<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor Degree in Business Management </h1>
            <span>Laurea University of Applied Sciences</span>
            <span><address>Espoo, Finland</address><time>2015-2019</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    <article>
        <header>
            <h1>International Baccalaureate Degree</h1>
            <span>Inter Community School</span>
            <span><address>Zurich, Switzerland</address><time>2012 to 2015</time></span>
        </header>
        <p>
            <em>.</em>
        </p>
    </article>
</section>
