<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Bistrot Helsinki</h1>
            <span><address>Helsinki, Finland</address><time>2019 to Present</time></span>
        </header>
        <p>Bistrot is a restaurant in Helsinki Airport. I work as a counter employee. The wok
            environment is very international with different people from different parts of the world.
            My role includes;
            • Customer service
            • Cashier </p>
    </article>
    <article>
        <header>
            <h1>Inter-community School</h1>
            <span><address>Zurich,Switzerland><time>2012-2015</time></span>
        </header>
        <p>Organized and been part of many fund-raising events.
            • Involved in activities like Christmas Market, International festival, Drama night and
            fundraising night</p>
    </article>
    <article>
        <header>
            <h1>Director's Assistant</h1>
            <span><address>Shree Mangal Dviop School</Kathmandu, Nepal><time>2011 to 2012</time></span>
        </header>
        <p>Answering incoming calls and emails
            • Helping to coordinate after school events such as basketball tournament.
            • Supervising the activities of the Eco-Club. It is an environment club. This club helps
            to keep the school area clean and green as well runs a yearly environmental
            campaig.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
